<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<h2>Comments</h2>
<div id="comments">
	<%= render :partial => @post.comments.reverse %>
</div>

<p>
	<%= form_for [@post, Comment.new], remote: true do |f| %>
		<strong>Post an comment:</strong><br />

		<%= f.label :body, "Message:" %><br />
		<%= f.text_area :body %><br />

		<%= f.submit %>
	<% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
